.settings
intermediate
bin

PAC_control_projects/main_control_prg/main_control_prg_vc/\.vs/

PAC_control_projects/main_control_prg/main_control_prg_vc/Debug/

PAC_control_projects/main_control_prg/main_control_prg_vc/Debug_IDE/

PAC_control_projects/main_control_prg/main_control_prg_vc/tolua\+\+\.exe

PAC_control_projects/main_control_prg/main_control_prg_vc/nvram\.txt

PAC_control_projects/system scripts/

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.devices\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.modbus_srv\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.objects\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.plua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.profibus\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.restrictions\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.rm_pacs\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main\.wago\.lua

PAC_control_projects/main_control_prg/main_control_prg_vc/main_control_prg_vc\.vcxproj\.user

PAC_control_projects/main_control_prg/main_control_prg_vc/mdl_hassia\.lua

*.user

PAC_control_projects/main_control_prg/eclipse/projects/WAGO-PFC-BSP-2014\.10\.3/Release/

PAC_control_projects/main_control_prg/eclipse_workspace/

PAC_control_projects/main_control_prg/main_control_dll_vc/Debug/

PAC_control_projects/main_control_prg/main_control_dll_vc/Debug_IDE/

PAC_control_projects/main_control_prg/eclipse/projects/PLCnext-linux/Debug/

PAC_control_projects/main_control_prg/main_control_dll_vc/Release/

PAC_control_projects/main_control_prg/main_control_prg_vc/Release/
