[submodule "googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "demo_projects/T1-PLCnext-Demo"]
	path = demo_projects/T1-PLCnext-Demo
	url = https://github.com/savushkin-r-d/T1-PLCnext-Demo.git
[submodule "fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark.git
[submodule "open62541"]
	path = deps/open62541/open62541
	url = https://github.com/open62541/open62541
[submodule "cxxopts"]
	path = deps/cxxopts/cxxopts
	url = https://github.com/jarro2783/cxxopts.git	
[submodule "zlib"]
	path = deps/zlib/zlib
	url = https://github.com/madler/zlib.git
[submodule "subhook"]
	path = deps/subhook/subhook
	url = https://github.com/savushkin-r-d/subhook
[submodule "lua"]
	path = deps/lua/lua
	url = http://github.com/LuaDist/lua.git
[submodule "toluapp"]
	path = deps/toluapp/toluapp
	url = https://github.com/savushkin-r-d/toluapp.git
[submodule "deps/lunarmodules/busted"]
	path = deps/lunarmodules/busted
	url = https://github.com/lunarmodules/busted.git
[submodule "deps/lunarmodules/luafilesystem/luafilesystem"]
	path = deps/lunarmodules/luafilesystem/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "deps/lunarmodules/penlight"]
	path = deps/lunarmodules/penlight
	url = https://github.com/lunarmodules/Penlight.git
[submodule "deps/lunarmodules/luasystem/luasystem"]
	path = deps/lunarmodules/luasystem/luasystem
	url = https://github.com/lunarmodules/luasystem.git
[submodule "deps/lunarmodules/mediator"]
	path = deps/lunarmodules/mediator
	url = https://github.com/Olivine-Labs/mediator_lua.git
